
@{
    ViewBag.Title = "Index";
}

<div>

    <h1>@ViewBag.FirstName</h1>
    <h1>@ViewBag.FirstName</h1>
    <h1>@ViewBag.FirstName</h1>
    <h1>@ViewBag.FirstName</h1>
    <h1>@Model</h1>



</div>

